* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
}

html, body{
 margin: 0 auto;
}

.content {
    min-height: calc(100vh - 160px);
}

a {
    color: #242e31;
    text-decoration: none;
    font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    outline: none;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    height: 80px;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.content-wrapper {
    width: 100%;
}

.header__nav {
    position: absolute;
    right: 36px;
    display: block;
}

.header__menu {
    display: none;
    position: relative;
    z-index: 2;
}

.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.content-wrapper {
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}

.menu-burger__header {
    position: relative;
    width: 15px;
    height: 35px;
    display: block;
    margin: 3px 10px;
    cursor: pointer;
}

.menu-burger__header:after, .menu-burger__header:before {
    height: 2px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
}

.menu-burger__header:after, .menu-burger__header:before {
    content: '';
}

.menu-burger__header:after {
    bottom: 26px;
}

.menu-burger__header:before {
    top: 3px;
}

.menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 6px;
    transition: 0.4s;
}

.menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 27px;
    transition: 0.4s;
}

.header__nav {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    background: rgb(245, 246, 246);
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
}

.header__menu {
    display: block;
}

.header__menu li {
    margin: 40px 0px 40px 33px;
    font-size: 14px;
}

.header__nav {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    background: rgb(245, 246, 246);
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
    left: -200%;
    transition: all 0.4s ease;
}

.header__nav.open-menu {
    left: 0;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 33px 8px;
}

.menu-burger_text {
    position: relative;
    left: 20px;
    font-size: 0.7em;
    line-height: 12px;
    text-transform: uppercase;
    color: #252525;
}

.header__content {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.content-menu__item {
    margin-right: 15px;
    font-size: 0.87em;
    line-height: 17px;
    text-transform: uppercase;;
    color: #252525;
}

.logo {
    position: relative;
    bottom: 15px;

}

.header_cart_container {
    display: flex;
}

.header_cart {
    margin: 0 12px;
}


.menu-link_name {
    font-size: 0.7em;
    line-height: 12px;
    text-transform: uppercase;
    color: #252525;
    margin-left: 10px;
}

.slider {
    width: 100%;
    min-height: 960px;
    background-repeat: no-repeat;
    background-image: url("../img/mainIMG.jpg");
    background-size: cover;
}

.slider-content-text {
    max-width: 840px;
    z-index: 5;
    margin: 0 auto;
    padding-top: 400px;
}

.slider-content-text h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 49px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.title_section {
    padding: 104px 0;
    background-color: #F2F2F2
}

.title_section-text p {
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: #252525;
}

.head_block_about, .foot_block_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text_block_about {
    max-width: 500px;
    margin: 150px 30px;
}

.text_block_about h2 {
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    color: #AAAAAA;
}

.text_block_about p {
    margin-bottom: 40px;
    font-weight: normal;
    line-height: 140%;
    color: #252525;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.img-block-catalog {
    display: flex;
    justify-content: flex-end;
}

.text-block-catalog {
    max-width: 476px;
    z-index: 10;
    position: relative;
    top: 130px;
    left: 110px;

}

.text-block-catalog h2 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 50px;
    color: #252525;
    margin-bottom: 40px;
}

.text-block-catalog p {
    font-weight: normal;
    line-height: 140%;
    color: #252525;
    margin-bottom: 73px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #FF8A00;
    width: max-content;
    padding: 13px 57px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.collection {
    padding: 220px 0;
}

.collection h2 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 50px;
    color: #252525;
    margin-bottom: 70px;
}

.collection-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collection-item {
    max-width: 402px;
    margin: 0 12.5px;
}

.collection-item h3 {
    font-weight: 500;
    font-size: 0.875em;
    line-height: 140%;
    color: #252525;
}

.collection-item p {
    font-weight: bold;
    line-height: 150%;
    color: #545454;
}

.footer__container {
    padding: 56px 43px;
    background: #F2F2F2;
}

.footer_wraper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer__content {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.login_form_section {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.login_form_section .login_img,
.login_form {
    max-height: 720px;
    width: 50%;
}

.login_form h2 {
    font-weight: 600;
    font-size: 1.625em;
    line-height: 140%;
    color: #252525;
    margin-bottom: 160px;
}

.input_block {
    border-bottom: 1px solid #BEBEBE;
    width: 60%;
    height: 30px;
    margin-bottom: 30px;
    position: relative;
}

.input_block input {
    width: 100%;
    outline: none;
}

.input_block input::placeholder {
    font-weight: 500;
    font-size: 0.875em;
    line-height: 17px;
    color: #A0A0A0;
}

.remember_checkbox input {
    display: none;
}

.remember_checkbox span {
    height: 10px;
    width: 10px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 2px;
    padding: 3px;
}

.remember_checkbox [type=checkbox]:checked + span:before {
    content: '\25A0';
    position: absolute;
    top: -1.5px;
    left: 1px;
    font-size: 25px;
    color: #FF8A00;
}

.remember_checkbox [type=checkbox]:checked + span {
    border: 1px solid #FF8A00;
}

.remember_checkbox {
    font-weight: 500;
    font-size: 0.875em;
    line-height: 17px;
    color: #252525;
}

.buttons_auth {
    margin-top: 182px;
}

.button_auth {
    margin-right: 30px;
    padding: 15px 92px;
}

.request_pass, .link_reg_form {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 17px;
    color: #A0A0A0;
}

.error_block {
    height: 20px;
}

.checkbox_block {
    position: relative;
}

.invalid_alert {
    color: red;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 33px

}

.link_reg_form {
    margin-top: 50px;
}

.link_reg_form a:hover {
    color: #FF8A00;
}

.block404 {
    margin-top: 75px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block404 img {
    width: 60%;
    height: 60%;
}

.block404 p a {
    color: #FF8A00;
}

.block404 p a:hover {
    opacity: 80%;
}

.catalog_list {
    margin-top: 75px;
}

.catalog_block {
    display: flex;
}

.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catalog-item {
    width: 280px;
    margin: 35px 8px;
}

.image_catalog-item {
    width: 100%;
    height: 400px;
}

.image_catalog-item img {
    width: 100%;
    height: 100%;
}

.catalog-item h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.857em;
    line-height: 140%;
    color: #252525;
}

.catalog-item .price-collection {
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: #545454;
}

.product_pagination ul {
    display: flex;
    margin: 15px;
}

.product_pagination ul li {
    list-style-type: none;
    margin: 5px;
}

.product_pagination ul .active {
    color: #FF8A00;
}

.filter-list {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 40%;
    height: 30%;
    margin-top: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 35px 20px;
}

.catalog_list h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.625em;
    line-height: 32px;
    color: #252525;
}

.filter-list h3 {
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    color: #737373;
    margin-bottom: 15px;
}

.filter_checkbox {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 17px;
    color: #737373;
    margin: 7px 0;
}

.filter_checkbox input {
    display: none;
}

.filter_checkbox span {
    height: 6px;
    width: 6px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 2px;
    padding: 3px;
}

.filter_checkbox [type=checkbox]:checked + span:before {
    content: '\25A0';
    position: absolute;
    top: -2px;
    left: 1px;
    font-size: 18px;
    color: #FF8A00;
}

.filter_checkbox [type=checkbox]:checked + span {
    border: 1px solid #FF8A00;
}

.product_item_section {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.product_item {
    max-height: 720px;
    width: 40%;
}

.product_item_section .product_img {
    max-height: 700px;

}

.product_img img {

    height: 100%;
}

.button_basket {
    padding: 13px 100px;
}

.product_item {
    padding: 30px;
}

.product_item h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.625em;
    line-height: 140%;
    color: #252525;
    margin-bottom: 15px;
}

.product_item .price-collection {
    font-style: normal;
    font-weight: bold;
    font-size: 1.438em;
    line-height: 140%;
    color: #252525;

}

.product_item .description {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 150%;
    color: #737373;
}

#cart {
    display: flex;
    justify-content: space-between;
    margin-top: 139px;
}

.cart {
    margin: 0 30px;
    width: 60%;
}

.cart h2 {

    margin-bottom: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.625em;
    line-height: 32px;
    color: #252525;
}

.cart-form h3,
.cart-items h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.375em;
    line-height: 22px;
    color: #252525;
}

.cart-items {
    margin-top: 83px;
}

.cart-item {
    padding: 23px 0;
    border-bottom: 1px dashed #D3D3D3;
    display: flex;
    justify-content: space-between;
}

.main-cart-item {
    display: flex;
}

.text-cart {
    margin: 0 30px;
}

.text-cart a h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 140%;
    color: #252525;
}

.text-cart p {
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    color: #545454;
    margin-top: 20px;
}

.img-cart {
    width: 200px;
}

.img-cart a img {
    width: 100%;
}

.del-cart {
    cursor: pointer;
}

.count-block {
    display: flex;
    margin-top: 20px;
}

.minus, .plus, .count-itemcart {
    border: 1px solid #EEEEEE;
}

.minus, .plus {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.minus:hover, .plus:hover {
    background-color: #EEEEEE;
}

.count-itemcart {
    width: 30px;
    height: 30px;
    text-align: center;
}

.send-form {
    padding: 35px;
    width: 30%;
    max-height: 210px;
    background: #F2F2F2;
    border-radius: 3px;
}

.send-form h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 29px;
    color: #252525;
}

.count-prod {
    padding: 20px 0;
    width: 80%;
    border-bottom: 1px dashed #D3D3D3;
    display: flex;
    justify-content: space-between;
}

.res-price {
    padding: 30px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.count-prod p {
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    color: #252525;
}

.res-price p {
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    color: #252525;
}

.button_cart {
    padding: 13px 75px;
}

.cart-form_up {
    margin: 20px 0;
}

.cart-form_foot input {
    height: 40px;
    width: 21.8%;
    border-bottom: 1px solid #BEBEBE;
    margin-right: 20px;
}

.cart-form_up input, #street {
    height: 40px;
    width: 46%;
    border-bottom: 1px solid #BEBEBE;
    margin-right: 20px;
}

.category_list ul {
    margin-left: 1em;
}

.category_list ul li,
.item_sorting{
    font-weight: bold;
    font-size: 1em;
    line-height: 17px;
    color: #737373;
    margin: 3px 0;

}

.alertInput {
    border-bottom: 2px solid red !important;
}

#error_box {
    display: none;
    border: 1px solid #f7c7c9;
    background: #f9e5e6;
    position: fixed;
    width: 370px;
    right: 20px;
    top: 20px;
    -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}

#error_message {
    color: black;
    margin: 18px 0;
    font-weight: bold;
}

select{
    border:0;
    outline:0;
}

.sortingSelect{
    margin: 10px 0;
}

.product_pagination{
   display: flex;
    justify-content: center;
}

.basket_head{
    position: relative;
}

#cart-qty{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 40px;
    background: #FF8A00;
    margin: 1em;
    border-radius: 50%;
    text-align: center;
    top: -27px;
    left: -7px;
}

.button_basket_block{
    display: flex;
    margin-top: 64px;
    align-items: center;
}

.button_basket_block .count-block{
    margin-left: 20px;
    margin-bottom: 18px;
}

/*
.button_basket_block .count-block .minus, .button_basket_block .count-block .plus {
    width: 44px;
    height: 44px;
}
*/
